@charset "utf-8";
body  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	background: #fff;
	margin: 0; 
	padding: 0;
	text-align: left;
	color: #000;
	height:100%;
	background-image:url(../cgimages/wet-background.gif);
	background-repeat:repeat-y;
	background-attachment:fixed;
	background-position:center; 

}
.webenglish #container {
	position:relative;
	left:0px;
	top:0px;
	width: 1024px; 
	margin: 0 auto; 
	border-left:1px solid #000;
	border-right:1px solid #000;
	border-bottom:1px solid #000;
	text-align: left;
} 
.webenglish #adheader {
	position:absolute;
	top:0px;
	left:0px;
	width: 1024px;
	height:110px;
	background: #9bc14e; 
	padding: 0px 0px 0px 0px;
	background-image:url(../cgimages/adheader_green.gif);
	background-repeat:repeat-x;
} 
div.headerads { 
	position:absolute;
	top:5px;
	left:5px;
	width: 728px;
	height:90px;
} 
div.headerenotes { 
	position:absolute;
	top:0px;
	left:738px;
	width: 281px;
	height:100px;
} 
.webenglish #header { 
	position:absolute;
	top:110px;
	left:0px;
	width: 1024px;
	height:100px;
	padding: 0 0 0 0;  
} 
div.headertwitter { 
	position:absolute;
	top:10px;
	left:652px;
	width: 116px;
	height:25px;
} 
div.headerfacebook { 
	position:absolute;
	top:10px;
	left:768px;
	width: 116px;
	height:25px;
}
div.headershare { 
	position:absolute;
	top:15px;
	left:884px;
	width: 135px;
	text-align:right;
} 
.webenglish #pagecontent { 
	position:absolute;
	top:210px;
	left:0px;
	width: 1024px;
	padding: 0 0 0 0;  
} 
.webenglish #leftcontent {
	float:left;
	width: 724px;
	padding: 0 0 0 0;  
} 
.webenglish #leftcontenttop {
	position:absolute;
	left:0px;
	top:0px;
	width: 724px;
	padding: 0 0 0 0;  
} 
.webenglish #leftcontentbottom {
	position:absolute;
	left:0px;
	top:0px;
	width: 724px;
	padding: 0 0 0 0;  
} 
.webenglish #rightcontent {
	float:right;
	width: 300px;
	height:970px;
	background-image:url(../cgimages/sidebar2_green.gif);
	background-repeat:repeat-y;
	padding: 0 0 0 0;  
} 
.wetlogo { 
	border: none;
	position:relative;
	top:0px;
	left:0px;
}
div.sidenewsletter {
	position:absolute;
	left:0px;
	top:0px;
	width: 175px;
	height: 125px;
	background-image:url(../cgimages/sidebar1_green.gif);
	background-repeat:repeat-x;
	padding: 0px 0px 0px 0px;
}
div.sidenewslettertext {
	position:relative;
	left:10px;
	top:10px;
	width: 155px;
	height: 105px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
	color:#FFF;
	font-weight:bold;
	text-align:center;
}
div.sidenewsletter-in {
	position:absolute;
	left:0px;
	top:0px;
	width: 724px;
	height: 55px;
	background-image:url(../cgimages/sidebar1_green.gif);
	background-repeat:repeat-x;
	padding: 0px 0px 0px 0px;
}
div.sidenewslettertext-in {
	position:relative;
	left:10px;
	top:10px;
	width: 704px;
	height: 35px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
	color:#FFF;
	font-weight:bold;
	text-align:center;
}
div.sidearticle {
	position:absolute;
	left:175px;
	top:0px;
	width: 549px;
	height: 125px;
	background-image:url(../cgimages/article-background2.jpg);
	background-repeat:no-repeat;
	padding: 0px 0px 0px 0px;
}
div.sidearticletext {
	position:relative;
	left:20px;
	top:10px;
	width: 509px;
	max-height:100px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
	color:#000;
}
div.sidearticletext a, div.sidearticletext a:visited {
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
	color:#FFF;
}
div.sidearticletext a:hover {
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
	color:#EEE;
}
div.sidenav {
	position:absolute;
	left:0px;
	top:125px;
	width: 175px;
	height:840px;
	background-image:url(../cgimages/sidenav-paper.gif);
	background-repeat:no-repeat;
	padding: 0px 0px 0px 0px; 
}
div.sidenav3 {
	position:absolute;
	left:0px;
	top:55px;
	width: 175px;
	height:840px;
	background-image:url(../cgimages/sidenav-paper.gif);
	background-repeat:no-repeat;
	padding: 0px 0px 0px 0px; 
}
div.sidenavtext {
	position:absolute;
	left:25px;
	top:30px;
	width: 140px;
	padding: 0px 0px 0px 0px; 
}
div.sidenavtext ul, div.sidenavtext li {
	list-style-type:none;
	margin:0;
	padding:0;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#25aae1;
	line-height:30px;
}
div.sidenavtext a, div.sidenavtext a:visited {
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#25aae1;
	text-decoration:none;
}
div.sidenavtext a:hover {
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#999;
	text-decoration:underline;
}
div.mainContent {
	position:absolute;
	left:175px;
	top:125px;
	width:549px;
	min-height:400px;
	background-image:url(../cgimages/main-background.gif);
	background-repeat:repeat-x;
} 
div.mainContent3 {
	position:absolute;
	left:175px;
	top:55px;
	width:549px;
	min-height:400px;
	background-image:url(../cgimages/main-background.gif);
	background-repeat:repeat-x;
} 
div.mainContentText {
	position:absolute;
	left:20px;
	top:10px;
	width:509px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
	color:#000;
}
div.mainContentText a, div.mainContentText a:visited {
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
	color:#25aae1;
}
div.mainContentText a:hover {
	font-family:Verdana, Geneva, sans-serif;
	font-size:13px;
	color:#999;
	text-decoration:underline;
}
div.rightbannerad {
	position:relative;
	left:0px;
	top:0px;
	width: 300px;
	background: #999;
	padding: 0px 0px 0px 0px; 
}
div.enotes {
	position:relative;
	left:10px;
	top:10px;
	width: 280px;
	height:131px;
}
div.laborlaw {
	position:relative;
	left:10px;
	top:10px;
	width: 280px;
	height:131px;
}
div.summer {
	position:relative;
	left:10px;
	top:20px;
	width: 280px;
	height:200px;
}
div.siteteacher {
	position:relative;
	left:10px;
	top:30px;
	width: 280px;
	height:51px;
}
div.literacysite {
	position:relative;
	left:10px;
	top:40px;
	width: 280px;
	height:131px;
}
div.sidebar2 {
	position:relative;
	left:0px;
	top:0px;
	width: 300px;
	padding: 0 0 0 0;
}
div.footer { 
	width: 509px;
	padding: 0 0 0 0;  
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#999; 
}
div.footer a, div.footer a:visited, div.footer a:hover { 
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#25aae1; 
}
/* FONTS */
h1, h3, h4 {
	font-size: 25px;
	font-family: Arial, sans-serif;
	color: #7ca53c;
	font-weight: normal;
	border-bottom: 1px solid;
	line-height:28px;
}

a{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#25aae1;
	text-decoration:none;
}

a:link{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#25aae1;
	text-decoration:none;
}

a:visited{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#25aae1;
	text-decoration:none;
}

a:hover{
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	color:#25aae1;
	text-decoration: underline;
}

td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}

th {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}
h2, h4, h5, h6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:15px;
	text-align:center; 
}

.style2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
	color: #000000;
	}
.style3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
		}
.style4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height: 16pt;
}
.style5 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight: bolder;
	font-variant: normal;
	text-transform: none;
	color: #FFFF00;
	text-decoration: none;
}

.style6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:right
		}


.level6 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #FFFFFF;
}


/* TOP NAVIGATION */
div.horizontal
{
position:absolute;
top:67px;
left:415px;
width:609px;
height:33px;
}
div.nav-home
{
position:absolute;
top:0px;
left:0px;
width:129px;
height:33px;
}
div.nav-blog
{
position:absolute;
top:0px;
left:129px;
width:183px;
height:33px;
}
div.nav-sitemap
{
position:absolute;
top:0px;
left:312px;
width:156px;
height:33px;
}
div.nav-contact
{
position:absolute;
top:0px;
left:468px;
width:141px;
height:33px;
}
div.nav-home ul,div.nav-blog ul,div.nav-sitemap ul,div.nav-contact ul
{
list-style-type:none;
margin:0;
padding:0;
}
div.nav-home li,div.nav-blog li,div.nav-sitemap li,div.nav-contact li
{
float:left;
}
div.nav-home a
{
display:block;
width:129px;
height:33px;
background-image:url(../cgimages/nav-home.gif);
}
div.nav-blog a
{
display:block;
width:183px;
height:33px;
background-image:url('../cgimages/nav-blog.gif');
}
div.nav-sitemap a
{
display:block;
width:156px;
height:33px;
background-image:url('../cgimages/nav-sitemap.gif');
}
div.nav-contact a
{
display:block;
width:141px;
height:33px;
background-image:url('../cgimages/nav-contact.gif');
}
div.nav-home a:link,div.nav-home a:visited,div.nav-blog a:link,div.nav-blog a:visited,div.nav-sitemap a:link,div.nav-sitemap a:visited,div.nav-contact a:link,div.nav-contact a:visited
{
font-family: Arial; 
font-size: 13px;
color:#5abb64;
text-align:center;
vertical-align:middle;
text-decoration:none;
}
div.nav-home a:hover,div.nav-home a:active
{
background-image:url('../cgimages/nav-home-on.gif');
font-family: Arial; 
font-size: 13px;
color:#cccccc;
}
div.nav-blog a:hover,div.nav-blog a:active
{
background-image:url('../cgimages/nav-blog-on.gif');
font-family: Arial; 
font-size: 13px;
color:#cccccc;
}
div.nav-sitemap a:hover,div.rss a:active
{
background-image:url('../cgimages/nav-sitemap-on.gif');
font-family: Arial; 
font-size: 13px;
color:#cccccc;
}
div.nav-contact a:hover,div.nav-contact a:active
{
background-image:url('../cgimages/nav-contact-on.gif');
font-family: Arial; 
font-size: 13px;
color:#cccccc;
}